{{# partial "content" }}
<div class="row">
  <h1>Hello Pattern 8, {{country}} - U.K.  !
    <small>Dynamic template path</small>
  </h1>
  <hr>
  <div class="small-12 columns">
    <p>
      <code>Pattern 8 - 1</code> is ...
    </p>
  </div>
  <hr>
  <a href="/" class="button">Back</a>
</div>

    {{/partial}}

{{> main}}