{{# partial "content" }}
<div class="row">
  <h1>Redirection</h1>
  <h3 class="subheader">You're Redirected successfully !</h3>
  <hr>
  <div class="small-12 columns">
    <p>
      <code>Pattern 9</code> is a simple redirection sample.
    </p>
  </div>
  <hr>
  <a href="/" class="button">Back</a>
</div>

{{/partial}}

{{> main}}