{{# partial "content" }}
<div class="row">
  <h1>Separate path definition</h1>
  <h3 class="subheader">The path is recognized successfully !</h3>
  <hr>
  <div class="small-12 columns">
    <p>
      <code>Pattern 11</code> defines path separately.
    </p>
    <p>
      The parameter part is <strong>{{param1}}</strong> and the wild card part is <strong>{{wildpath}}</strong>
    </p>
  </div>
  <hr>
  <a href="/" class="button">Back</a>
</div>

{{/partial}}

{{> main}}