{{# partial "content" }}
<div class="row">
  <h1>Wildcard</h1>
  <h3 class="subheader">The wild card is recognized successfully !</h3>
  <hr>
  <div class="small-12 columns">
    <p>
      <code>Pattern 10</code> is a simple wild card path definition.
    </p>
    <p>
      The wild card part is <strong>{{wildpath}}</strong>
    </p>
  </div>
  <hr>
  <a href="/" class="button">Back</a>
</div>

{{/partial}}

{{> main}}